<div class="row-fluid">
    <div class="span12">
        <ul>
            <!-- generated -->
            <li>
                <div class="row-fluid">
                    <div class="span12">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9">
                    </div>
                    <div class="span3">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9">
                    </div>
                    <div class="span3">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9">
                    </div>
                    <div class="span3">
                    </div>
                </div>
            </li>
            <li>
                <div class="row-fluid">
                    <div class="span12">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9">
                    </div>
                    <div class="span3">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9">
                    </div>
                    <div class="span3">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span9">
                    </div>
                    <div class="span3">
                    </div>
                </div>
            </li>
            <!-- end generated -->
        </ul>
    </div>
</div>
